{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
{% endblock %}

{% block main %}
<article>
    <h1>{{ post.title }}</h1>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width:100%; max-height:100%x; object-fit:cover;border:solid darkred 4px; border-radius: 25px; margin-bottom: 30px;">
    {% endif %}
    <div style="margin-top: 20px; text-align: justify;">{{ post.text|linebreaks }}</div>
    <p style="font-style:italic; color: #888; text-align:center; margin-top: 30px; white-space: nowrap;">Дата публикации: {{ post.date }}</p>
    <div class="tty"><a href="{% url 'news_update'  post.id  %}" class="reddel">Редактировать</a>
    <a href="{% url 'news_delete'  post.id  %}" class="reddel">Удалить</a></div>
</article>
{% endblock %} 