{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
  <title>Персона</title>
  <link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
  {% endblock %}
{% block main %}
<article><h1>Моё мнение после прохождения Persona 5 Royal</h1>
<p>
Недавно я все таки добрался до Persona 5 Royal и исчез из мира на 120 часов. Игра проходится на одном дыхании. До этого я был знаком только с 1 игрой серии – ремейком 3 части, который после пятерки кажется невероятно обрезанным и неполноценным. В 5 части идеально буквально все: визуал, музыка, боевая система, персонажи и особенно сюжет.</p>

<p>Геймплей игры делиться на 2 части. Большую часть времени ты ведёшь себя как обычный школьник, посещаешь, занятия, гуляешь с друзьями и т.д. Но главный герой ведёт двойную жизнь: поэтому второй пласт геймплея заключается в том, что персонаж в компании со своими друзьями погружается в метамир, чтобы исправить порочных людей, где вынужден сражаться с различными врагами и боссами.</p>

<p>Раз уж мы выше затронули бои, то стоит сказать пару слов и о них, поначалу боевая система весьма проста: у тебя есть отряд из нескольких персонажей, каждый из которых умеет атаковать, защищаться, использовать предметы и применять несколько способностей, однако с течение времени она обрастает новыми МЕХАНИКАМИ. Например появляются парные атаки, огнестрельное оружие, технические атаки и т.д. Помимо этого персонажи обретают и уникальные способности. Бои построены на системе уязвимостей, т.е. если атаковать врага тем типом урона, к которому он уязвим, он будет оглушён и пропустит свой ход, а ваш персонаж, напротив, получит возможность походить ещё раз. Помимо этого если оглушить всех врагов, то вы сможете провести особо мощный удар. Однако не смотря на всё это бои длятся не слишком долго, да и вообще игра проходится довольно легко даже на максимальной сложности.</p>

<p>Так же стоит отметить систему социальных связей, которая не только помогает в раскрытии персонажей, но и отражается на боевой системе, за счёт перков открываемых при прокачке этой самой связи, а при улучшении отношений до максимума ваш товарищ получит ещё одну особенно сильную способность.</p>

<p>Безусловно главным достоинством игры является сюжет, он просто великолепен, с несколькими неожиданными поворотами, рассказывать я о нём конечно не буду, попробуйте сами)</p>
</p>
{% endblock %}
