{% extends 'main/layout.html' %}
{% load static %}
{% block title %}<title>О себе</title>
<link rel="stylesheet" href="{% static 'main/css/style2.css' %}">
{% endblock %}
{% block main %}
<article>Я Аванесов Сергей Артемович обучаюсь на 2 курсе направления Информатика и вычислительная техника. 
        Данный сайт был сделан (совершенно точно не в последний день) не только из- за того что было поставлено такое задание, 
        но и из-за невероятного желания поделиться своим авторитетным и неподкупным мнением в сфере геймдизайна и компьютерных игр. 
        Ведь автор блога глубоко изучает все МЕХАНИКИ и абсолютно точно не клепает свои посты на коленке за пол часа. 
        Из других достижений данного молодого человека можно отметить преклонный возраст (13) до которого он дожил (почти) в целости и сохранности. 
        Где беру грибы не скажу, но с другими моими работами можно ознакомиться <a href="https://youtu.be/dQw4w9WgXcQ?si=0E3UjX9dKJL9Pamn">здесь</a>.</article>
 <section >
    <div><article><img src="{% static 'main/img/portret2.jpg' %}" class="portret" ></article></div>
    <article><h1>Кстати, это я)</h1></article>
 </section>
{% endblock %}
